<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">
	<test name="LLPL-basic">
		<classes>
			<class name="com.intel.pmem.llpl.AccessorTests" />
			<class name="com.intel.pmem.llpl.AllocationClassTests" />
			<class name="com.intel.pmem.llpl.LLPLTestConfig" />
			<class name="com.intel.pmem.llpl.Heap1Tests" />
			<class name="com.intel.pmem.llpl.Heap2Tests" />
			<class name="com.intel.pmem.llpl.HeapAllocationTests" />
			<class name="com.intel.pmem.llpl.PersistentHeap1Tests" />
			<class name="com.intel.pmem.llpl.PersistentHeap2Tests" />
			<class name="com.intel.pmem.llpl.TransactionalHeap1Tests" />
			<class name="com.intel.pmem.llpl.TransactionalHeap2Tests" />
			<class name="com.intel.pmem.llpl.MixedHeapsTest" />
			<class name="com.intel.pmem.llpl.MemoryAccessorTests" />
			<class name="com.intel.pmem.llpl.MemoryBlock1Tests" />
			<class name="com.intel.pmem.llpl.MemoryBlock2Tests" />
			<class name="com.intel.pmem.llpl.MemoryPoolTests" />
			<class name="com.intel.pmem.llpl.PersistentAccessorTests" />
			<class name="com.intel.pmem.llpl.PersistentHeapAllocationTests" />
			<class name="com.intel.pmem.llpl.PersistentMemoryBlock1Tests" />
			<class name="com.intel.pmem.llpl.PersistentMemoryBlock2Tests" />
			<class name="com.intel.pmem.llpl.RangeTests" />
			<class name="com.intel.pmem.llpl.TransactionalAccessorTests" />
			<class name="com.intel.pmem.llpl.TransactionalMemoryBlock1Tests" />
			<class name="com.intel.pmem.llpl.TransactionalMemoryBlock2Tests" />
			<class name="com.intel.pmem.llpl.TransactionsTests" />
			<class name="com.intel.pmem.llpl.Transactions2Tests" />
			<class name="com.intel.pmem.llpl.AllocationClassTests" />
			<class name="com.intel.pmem.llpl.ShortArrayTests" />
			<class name="com.intel.pmem.llpl.ShortArrayPersistentTests" />
			<class name="com.intel.pmem.llpl.ShortArrayTransactionalTests" />
			<class name="com.intel.pmem.llpl.IntArrayTests" />
			<class name="com.intel.pmem.llpl.IntArrayPersistentTests" />
			<class name="com.intel.pmem.llpl.IntArrayTransactionalTests" />
			<class name="com.intel.pmem.llpl.LongArrayTests" />
			<class name="com.intel.pmem.llpl.LongArrayPersistentTests" />
			<class name="com.intel.pmem.llpl.LongArrayTransactionalTests" />
			<class name="com.intel.pmem.llpl.LongARTTests" />
			<class name="com.intel.pmem.llpl.PersistentLongARTTests" />
			<class name="com.intel.pmem.llpl.TransactionalLongARTTests" />
			<class name="com.intel.pmem.llpl.ConcurrentLongARTTests" />
			<class name="com.intel.pmem.llpl.PersistentConcurrentLongARTTests" />
			<class name="com.intel.pmem.llpl.TransactionalConcurrentLongARTTests" />
			<class name="com.intel.pmem.llpl.LongLinkedListTests" />
			<class name="com.intel.pmem.llpl.LongLinkedListPersistentTests" />
			<class name="com.intel.pmem.llpl.LongLinkedListTransactionalTests" />
		</classes>
	</test>
</suite>

